* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(237, 236, 236);
  height: 100vh;
  color: #e4e4e4;
  line-height: 1.5;
  font-family: "M PLUS Rounded 1c";
}

.trello {
  display: flex;
  align-items: flex-start;
}

.trello-section {
  width: 400px;
  background: #707070;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.trello-section:first-child{
  margin-left: 0;
}

.trello-section-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 20px;
}

.card {
  padding: 30px;
  color: #707070;
  background: #60E2B8;
  border-radius: 10px;
  margin-top: 5px;
}

.trello-input-text{
  padding: 5px;
  margin: 5px;
}

.trello-input-button-addTask{
  font-size: 15px;
  padding: 10px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
}