.Content {
  padding: 20px;
}

.trello-input-button-addTask {
  cursor: pointer;
  background-color: #707070;
  color: #e4e4e4;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
}

.trello {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.trello-section {
  width: 33%;
  background: #707070;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.trello-section:first-child {
  margin-left: 0;
}

.trello-section-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 20px;
}
