* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Content {
  flex: 1;
}

body {
  background: rgb(237, 236, 236);
  height: 100vh;
  color: #e4e4e4;
  line-height: 1.5;
  font-family: "M PLUS Rounded 1c";
}

a {
  text-decoration: none;
}
